In [2]:
import os
import csv
import pandas as pd

In [2]:
# list of .csv files in the directory
incart_csv = 'INCART 2-lead Arrhythmia Database' # this is the most relevant at the current time of writing this
arr_csv = 'MIT-BIH Arrhythmia Database'
supra_csv = 'MIT-BIH Supraventricular Arrhythmia Database'
scdh_csv = 'Sudden Cardiac Death Holter Database'

In [3]:
!pwd

/Users/dc.gale/code/caitlinmac/heart-beat-decoder

In [5]:
csv_path = os.path.join('~',
                        'desktop', # root directory of the dataset folder
                        'ECG Arrhythmia Classification Dataset', # dataset folder containing .csv files
                        f'{incart_csv}.csv' # which csv are we looking at?
                        )
df = pd.read_csv(csv_path)

In [6]:
rows = df.shape[0]
cols = df.shape[1]
print(f'The "{incart_csv}" has {rows} rows and {cols} columns.')

The "INCART 2-lead Arrhythmia Database" has 175729 rows and 34 columns.

In [7]:
df.head()

,record,type,0_pre-RR,0_post-RR,0_pPeak,0_tPeak,0_rPeak,0_sPeak,0_qPeak,0_qrs_interval,...,1_qPeak,1_qrs_interval,1_pq_interval,1_qt_interval,1_st_interval,1_qrs_morph0,1_qrs_morph1,1_qrs_morph2,1_qrs_morph3,1_qrs_morph4
0,I01,N,163,165,0.069610,-0.083281,0.614133,-0.392761,0.047159,15,...,-0.023370,14,3,23,6,-0.023370,-0.011650,0.082608,0.101373,-0.183387
1,I01,N,165,166,-0.097030,0.597254,-0.078704,-0.078704,-0.137781,3,...,0.081637,15,5,27,7,0.081637,0.102992,0.191225,0.217544,-0.068248
2,I01,N,166,102,0.109399,0.680528,-0.010649,-0.010649,-0.720620,6,...,-0.148539,33,13,52,6,-0.148539,-0.060620,0.081080,0.204400,0.335172
3,I01,VEB,102,231,0.176376,0.256431,-0.101098,-0.707525,-0.101098,4,...,0.046898,21,9,34,4,0.046898,0.083728,0.279512,0.526785,0.450969
4,I01,N,231,165,0.585577,0.607461,-0.083499,-0.083499,-0.167858,3,...,-0.112552,32,5,43,6,-0.112552,0.012989,0.091491,0.134004,0.265232

In [9]:
try:
    file_path = __file__
except NameError:
    file_path =

filepath = os.path.basename(__file__) # with extension
filename, _ = os.path.splitext(filepath)

## note to self: __file__ does not work inside jupyter
print(f"the name of this file is {filename}")

NameError: name '__file__' is not defined